<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Test Page</title>
  <link rel="stylesheet" href="./src/styles/main.css">

  <link rel="stylesheet" href="./src/styles/tabs.css">
  <link rel="stylesheet" href="./src/styles/breadcrumbs.css">
  <link rel="stylesheet" href="./src/styles/nav-bar.css">

  <script src="https://cdn.jsdelivr.net/npm/vue"></script>
</head>
<body>
  <!-- Nav Bar componenet - start -->
  <div id="nav-bar" class="nav-bar" v-bind:class="{ stacked: stacked }">
    <ul class="nav-menu">
      <li v-on:click="goTo(3)" v-bind:class="{ active: activeIndex === 3 }">tabs</li>
      <li v-on:click="goTo(2)" v-bind:class="{ active: activeIndex === 2 }">two</li>
      <li v-on:click="goTo(1)" v-bind:class="{ active: activeIndex === 1 }">one</li>
    </ul>
  </div>
  <!-- Nav Bar componenet - end -->

  <div class="container mt-3">
    <div id="section-1" class="section">
      <h3>Section One</h3>
      <div class="container"></div>
    </div>

    <div id="section-2" class="section">
      <h3>Section Bread Crumbs</h3>
      <!-- Bread crumbs componenet - start -->
      <div id="breadcrumbs" class="container">
        <ul class="breadcrumbs">
          <li v-bind:class="{ active: activeIndex === 1 }">One</li>
          <li v-bind:class="{ active: activeIndex === 2 }">Two</li>
          <li v-bind:class="{ active: activeIndex === 3 }">Three</li>
        </ul>
        <div class="content">
          <button v-on:click="prev()"><<</button>
          <button v-on:click="next()">>></button>
        </div>
      </div>
      <!-- Bread crumbs componenet - end -->
    </div>

    <div id="section-3" class="section">
      <h3>Section Tabs</h3>
      <!-- Tabs componenet - start -->
      <div id="tabs" class="container">
        <ul class="tabs">
          <li v-on:click="switchTab(1)" v-bind:class="{ active: activeIndex === 1 }">one</li>
          <li v-on:click="switchTab(2)" v-bind:class="{ active: activeIndex === 2 }">two</li>
          <li v-on:click="switchTab(3)" v-bind:class="{ active: activeIndex === 3 }">three</li>
        </ul>
        <div v-if="activeIndex === 1" class="content" v-bind:class="{ active: activeIndex === 1 }">Content 1</div>
        <div v-if="activeIndex === 2" class="content" v-bind:class="{ active: activeIndex === 2 }">Content 2</div>
        <div v-if="activeIndex === 3" class="content" v-bind:class="{ active: activeIndex === 3 }">Content 3</div>
      </div>
      <!-- Tabs componenet - end -->
    </div>
  </div>

  <script src="./src/js/nav-bar.js"></script>
  <script src="./src/js/breadcrumbs.js"></script>
  <script src="./src/js/tabs.js"></script>
</body>
</html>