
.breadcrumbs {
  list-style: none;
  padding: 0;
  margin: 0;
  z-index: 1;
}

.breadcrumbs li {
  cursor: pointer;
  float: left;
  padding: 15px;
  border: 1px solid black;
  background: #e9e9e9;
}

.breadcrumbs li.active {
  background: #fff;
}

.breadcrumbs li:not(:last-of-type) {
  border-right: 0;
}