body {
  margin: 0;
}

.container {
  display: flex;
  flex-direction: column;

  padding: 0 15px;
}

.mt-1 {
  margin-top: 15px;
}

.mt-2 {
  margin-top: 30px;
}

.mt-3 {
  margin-top: 60px;
}

.section {
  min-height: 800px;
}
