
.nav-bar {
  width: 100%;
  height: 50px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;

  z-index: 2;

  transition: all .3s ease-in-out;
}

.nav-bar.stacked {
  background-color: #8a00a9;
  color: #fff;
}

.nav-menu {
  list-style: none;
  padding: 0;
  margin: 0 50px;
}

.nav-menu li {
  cursor: pointer;
  float: right;
  padding: 15px;
}

.nav-menu li.active {
  border-bottom: 2px solid;
}
