
.tabs {
  list-style: none;
  padding: 0;
  margin: 0;
  z-index: 1;
}

.tabs li {
  cursor: pointer;
  float: left;
  padding: 15px;
  border: 1px solid black;
  background: #e9e9e9;
}

.tabs li.active {
  border-bottom: 1px solid #fff;
  background: #fff;
}

.tabs li:not(:last-of-type) {
  border-right: 0;
}

#tabs .content {
  padding: 15px;
  min-height: 200px;
  margin-top: -1px;
  border: 1px solid;
  visibility: hidden;
}
#tabs .content.active {
  visibility: visible;
}
